<header class="mainHeader center container">
	<img src="images/avantica-logo.png" class="mainLogo" />
	<nav>
		<ul id="nav-mobile" class="left hide-on-med-and-down">
			<li>Welcome {{username}}!!!</li>
		</ul>
		<a href="#" ng-click="logoutSession();" class="logoutBtn btn waves-effect waves-light right">Log out</a>
	</nav>
	
</header>
<section class="chatPanel container">
	<h1>Dashboard</h1>
	<article class="row">
		<div class="col s6 m4 l3">
			<h3>Current chats</h3>
			<div class="chatLists" ng-repeat="chat in currentChats" ng-click="seeChat(chat);" ng-class="{'active' : chat.chat == currentChat}">
				{{chat.username}}
				<i class="fa fa-exclamation fa-2x newMessage" ng-show="chat.newMessage && chat.chat != currentChat"></i>
			</div>
			<div class="noResults" ng-show="0 == currentChats.length">
				There aren't chats active
			</div>
		</div>
		<div class="col s6 m8 l9">
			<div class="viewChat">
				<div class="chatPanel" ng-repeat="chat in currentChats" ng-show="chat.chat == currentChat">
					<h3 class="panelTitle">{{ "Chat with: " + chat.username}}</h3>
					<div class="chatMessages">
						<ul>
							<li class="messageContent" ng-repeat="message in chat.messages" ng-class="{'adminMessage' : 'admin' == message.sendFrom, 'userMessage' : 'user' == message.sendFrom}">
								<strong class="example-chat-username">{{message.name}}: </strong>
								<div class="messageText">
									{{message.text}}
								</div>								
							</li>
						</ul>
					</div>
					<footer>
						<form ng-submit="addMessage();">
							<input type="hidden" ng-model="newMessage.chatID" />
							<input type="text" ng-model="newMessage.message" placeholder="Type a message..." required/>
						</form>
					</footer>
				</div>
			</div>
		</div>
	</article>
</section>